<!DOCTYPE html>
<html>
<head>
  <title> KittensProject</title>
  <link rel = "icon" href =  
"https://image.flaticon.com/icons/svg/12/12160.svg" 
        type = "image/x-icon"> 
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Theme CSS -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash' %>


  <%= yield %>

  <% unless controller_name == "sessions" || controller_name == "registrations" || controller_name == "passwords" %>
    <%= render 'layouts/footer' %>
  <% end %>
  
  <!-- Map -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
  <!-- Theme JS -->
  <%= javascript_include_tag 'application' %>
</body>
</html>
